:root{
    --clr-primary-100: hsl(256, 26%, 20%);
    --clr-primary-200: hsl(216, 30%, 68%);
    --clr-neutral-100: hsl(270, 9%, 17%);
    --clr-neutral-200: hsl(273, 4%, 51%);
    --clr-neutral-300: hsl(0, 0%, 98%);

    --ff-dm: 'DM Serif Display', serif;
    --ff-karla: 'Karla', sans-serif;

    --fw-normal: 400;
    --fw-bold: 700;

    --fs-body: 16px;
    --fs-body-big: 25px;
    --fs-medium: 32px;
    --fs-medium-large: 44px;
    --fs-large: 60px;

}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html{
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
    font-family: var(--ff-karla);
}


button{
  background: none;
  padding: .3em 1em;
  color: white;
  border: white solid 2px;
  position: relative;
  z-index: 2;
}
button:hover{
  color: black;
  background: white;
  cursor: pointer;
}
.button-reverse{
  background: none;
  margin-inline: 1.5em;
  border: black solid 2px;
  color: black;
}
.button-reverse:hover{
  background: black;
  color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1.5em;
    margin-inline: 6em 5em;
}
.hamburger{
  display: none;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}
nav a{
    color: var(--clr-neutral-200);
    text-decoration: none;
    margin-inline: 1.5em;
    font-family: var(--ff-karla);
    font-size: var(--fs-body);
}
nav img{
  margin-left: 5.5em;
}


header{
  background: var(--clr-primary-100);
  margin-bottom: 24em;
  position: relative;

  
}
header::before{
  content: '';
  height: 100%;
  width: 50%;
  background: url(./images/bg-pattern-intro-right-desktop.svg);
  background-repeat:no-repeat;
  background-position: top right;
  position: absolute;
  right: 0;
}
header::after{
  content: '';
  height: 100%;
  width: 100%;
  background: url(./images/bg-pattern-intro-left-desktop.svg);
  background-repeat:no-repeat;
  background-position: left;
  position: absolute;
  bottom: -30em;
  z-index: 1;
  
}
.intro{
  display: flex;
  align-items: top;
  justify-content: center;
  padding-inline: 3em;
  padding-block: 12em 4em;
  color: var(--clr-neutral-300);
}
.mobile-intro{
  display: none;
}
.intro span{
  position: relative;
  margin-bottom: 3em;
  margin-top: -3.5em;
}
.intro span::before{
  content: '';
  position: absolute;
  top: -3.5em;
  left: 0;
  height: 1.5px;
  width: 150px;
  background-color: white;
}

.intro-left{
    padding-block: 4em;
    width: 44%;
    margin-bottom: 3.5em;
    
}
.intro-left h1{
  font-size: var(--fs-large);
  font-family: var(--ff-dm);
  line-height: .9em;
  letter-spacing: .8px;
  width: 100%;
}
.intro-left p{
  margin-block: 2em;
}

.intro-right{
  margin-bottom: -500px;
}

.center{
  padding-inline: 6em;
  padding-block: 5em 0;
}

.center h2{
  font-size: var(--fs-large);
  font-family: var(--ff-dm);
  letter-spacing: .8px;
}
.features{
  display: flex;
  gap: 1em;
  margin-top: 3em;
}
.features span{
  font-size: var(--fs-medium);
  font-family: var(--ff-dm);
  font-weight: var(--fw-bold);
  letter-spacing: .8px;
}
.feature-icons{
  display: grid;
  gap: 2em;
}
.feature-icons img{
  height: 80px;
  width: 80px;
}

.how-we-work{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 6em;
  margin-block: 10em;
  padding: 3em 4em;
  background: var(--clr-primary-100);
  position: relative;
}
.how-we-work h3{
  font-size: var(--fs-medium-large);
  font-family: var(--ff-dm);
  color: var(--clr-neutral-300);
  letter-spacing: 2px;
}
.how-we-work::after{
  content: '';
  position: absolute;
  background: url(./images/bg-pattern-how-we-work-desktop.svg);
  background-repeat:no-repeat;
  background-position: center;
  right: -6em;
  height: 100%;
  width: 50%;
}

footer{
  background-color: var(--clr-neutral-300);
  background-image: url(./images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  }
.top-footer{
  padding-block: 3em;
  margin-inline: 6em;
  display: flex;
  align-items: center ;
  justify-content: space-between;
  margin-bottom: 2em;
}
.top-footer::after{
  content: '';
  width: 87%;
  height: 2px;
  background-color: var(--clr-neutral-200);
  position: absolute;
  top: 145em;
}
.social-icons{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
}
.bottom-footer{
  margin-inline: 6em;
  display: flex;
  gap: 10em;
  text-transform:uppercase;
  padding-bottom: 4em;
}
.bottom-footer ul{
  list-style: none;
}
.column{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  letter-spacing: 1px;
}
.column li{
  margin-block: .5em;
}
.column span{
  color: var(--clr-neutral-200);
}
.column a{
  text-decoration: none;
  color: var(--clr-primary-100);
  font-weight: var(--fw-bold);
}
.attribution{
  font-size: var(--fs-body);
  color: var(--clr-neutral-200);
  text-align: center;
  border: var(--clr-primary-100) solid 3px;
  padding-inline: auto;
  padding-block: 2em;
}
.attribution a{
  color: var(--clr-neutral-100);
}


@media all and (max-width:600px){
  nav{
    margin-inline: 0;
    justify-content: space-between;
    padding: 0;
  }
  nav img{
    margin-left: 2em;
  }
  nav ul{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .intro{
    display: flex;
    flex-direction: column;
    padding: 0;

  }
  .intro span::before{
    display: none;
  }
  header{
    background: none;
  }
  header::before{
    display: none;
  }
  header::after{
    display: none;
  }
  
  .mobile-intro{
    display: block;
    width: 100%;
  }
  .intro-left{
    background-color: var(--clr-primary-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 3em;
    width: 100vw;
    text-align: center;
    position: relative;
    margin-bottom: 22em;
  }
  .intro-left h1{
    font-size: var(--fs-medium-large);
  }
  .intro-left::before{
    content: '';
    background-image: url(./images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: top left;
  }
  .intro-left::after{
    content: '';
    background-image: url(./images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: bottom right;
    bottom: -10em;
  }
  .desktop-intro{
    display: none;
  }

  .center{
    padding-inline: 2em;
    padding-block: 4em;
    text-align: center;
  }
  .center h2{
    font-size: var(--fs-medium-large);
    margin-top: .6em;
  }
  .center::before{
    content: '';
    background: var(--clr-primary-200);
    height: 2px;
    width: 10em;
    position: absolute;
    right: 28%;
  }
  .features{
    flex-direction: column;
    gap: 3em;
  }
  .features span{
    font-size: var(--fs-body-big);
    font-family: var(--ff-dm);
    font-weight: var(--fw-bold);
    letter-spacing: .8px;
  }
  .feature-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .how-we-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: 2em;
    padding: 3em 2em;
  }
  .how-we-work::after{
    content: '';
    position: absolute;
    background: url(./images/bg-pattern-how-we-work-mobile.svg);
    background-repeat:no-repeat;
    top: 0;
    right: 0;
    height: 100%;
  }
  .how-we-work h3{
    font-size: var(--fs-medium);
    letter-spacing: 1px;
    margin-bottom: 1em;
  }

  footer{
    background-image: url(./images/bg-pattern-footer-mobile.svg);
  }
  .top-footer{
    padding-block: 2em 4em;
    flex-direction: column;
    gap: 2em;
    position: relative;
  }
  .top-footer::after{
    content: '';
    background-color: var(--clr-neutral-200);
    position: absolute;
    top: 9em;
    width: 160%;
    height: 2px;
  }
  .bottom-footer{
    flex-direction: column;
    text-align: center;
    gap: 4em;
  }
  .column{
    gap: 1em;
  }
  .attribution{
    font-size: var(--fs-body);
    color: var(--clr-neutral-200);
    text-align: center;
    border: var(--clr-primary-100) solid 3px;
    padding-inline: auto;
    padding-block: 2em;
  }
  .attribution a{
    color: var(--clr-neutral-100);
  }
}